.headerTitle{
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 48px;
}
.header{
  margin: 110px 0 20px 0;
}


@media only screen and (max-width: 730px){
  .headerTitle{
    margin: 0 10px;
  }
  .headerBody{
    margin: 0 10px;
  }
}