.topNav{
  border-bottom: 1px solid #efefef;
  background-color: var(--bgColor);
  top:0;
  left:0;
  right:0;
  z-index: 10;
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.backToHome{
  font-size: 30px;
  margin: 15px 20px 5px 20px;
  color: var(--blue);
  font-family: 'Baloo Tamma 2', sans-serif;
}

.navItem{
  font-size: 16px;
  padding: 20px;
  font-weight: normal;
  color:var(--primary);
}

.navItem:hover{
  color:var(--primary);
  font-weight: bold;
}