.projectPageTitle{
  margin: 20px 0 20px 0;
  font-family: 'Baloo Tamma 2', sans-serif;
  font-size: 48px;
  color:var(--magenta)

}

.pojectPage{
  margin-top:130px;
}

.backButton{
  color:var(--primary);
  font-weight: normal;
  font-size: 16px;
}

.backButton:hover{
  color:var(--blue)
}

.projectText{
  display: flex;
  margin: 0px 0;
}
.md{
  flex-shrink: 1;
}
.sideBar{
  font-size: 16px;
  flex-shrink: 0;
  margin-top:6px;
  margin-right: 20px;
  width:200px;
}

.textTitle{
  font-size: 14px;
}

.projectImage{
  margin: 40px auto;
  max-width: 1440px;
  display: flex;
}

.projectImgContainer{
  padding: 20px;
}