.section{
  padding: 0 5px;
}

.sectionTitle{
  font-size: 14px;
  margin: 20px 0 20px 0;
  text-transform: uppercase;
  display: inline-flex;
}

.features{
  margin-top:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.big-img{
  width:70%;
  margin-right:30px;
}

.medium {
  min-width: 320px;
  width:40%;
  flex-shrink: 0;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-bottom: 30px;
}

.odd{
  margin-right:20px ;
}

.even{
  margin-left:20px ;
}

.big{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-right:0;
  margin-left: 0;
}

.projectContentbig{
  max-width: 25%;

}
.projectTitle{
  font-size: 20px;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 10px;
}
.projectDescription{
  font-size: 16px;
  line-height: 24px;
}

.recognition{
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;

}

.viewSite{
  margin-top: 20px;
  font-family: 'Baloo Tamma 2', sans-serif;

}

.medium-img{
  margin-bottom: 10px;
}

@media only screen and (max-width: 1000px){
  .projectContentbig{
    max-width: 100%;
  }

  .big-img{
    max-width:1000px;
    margin-bottom: 10px;
    margin-right:0;
    width:100%;
  }
}

@media only screen and (max-width: 730px){

  .odd{
    margin: 0 10px;
  }
  .even{
    margin: 0 10px;
  }
}

.projectContentmedium{
  margin-bottom: 20px;
}